{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gmail</title>
</head>
<body>
    <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center" style="text-align: center">
          <h1>Ameen Sadek</h1>
            <h2>Python/Django Developer</h2>
        </div><hr>

        <div style="text-align: center">
            <h3>Linkedin : <a href="https://www.linkedin.com/in/ameen-sadek-892198148/">profile</a></h3>
            <h3>Gmail : <a href="">ameensadek99@gmail.com</a></h3>
            <h3>CV : <a href="https://drive.google.com/file/d/1oEuRsTT2ez0jKbpziA2SqscHelmNsIHJ/view">file</a></h3>
        </div><hr><br>

        <div class="w3-justify" style="text-align: center">
          <img src="{% static 'home_app/img/ameen.jpg' %}" alt="Men in Hats" style="width:600px; height: 800px" class="w3-padding-16">
        </div>


      </div>

</body>
</html>