{%extends 'index.html' %}

{% block nav %}
    <h2>Hello {{ request.user.username }}</h2><br><hr>
    <h3>Wait many CVs with job title in contact email.</h3><hr><br>

{% endblock %}

{%block main%}
	<div class="col-sm-6 col-sm-offset-0" style="width: 730px">
		<h1>{{instance.job_title}}</h1>
        <p style="font-size: large">{{instance.puplish}}</p>
        <h3>Company:</h3>
        <p>{{instance.company}}</p>
        <h3>Requirements:</h3>
		<p>{{instance.requirements}}</p>
        <h3>Info: </h3>
		<p>{{instance.content}}</p>
        <h3>Contact: </h3>
		<p>{{instance.contact}}</p><br><hr>
        <div style="width: 600px">
            <div style="float: left; margin-left: 10px"><a style="float: left" href="{% url 'list' %}"><input style="height: 50px; width: 150px" type="submit" value="Back to Posts Page"></a></div>
    {#        <a style="float: left" href="{{ instance.get_edit }}"><input type="submit" value="Update"></a>#}
            <div style="float: left; margin-left: 10px"><a style="float: left" href="{{ instance.get_del }}"><input style="height: 50px; width: 150px" type="submit" value="Delete"></a></div>
            <div style="float: left; margin-left: 10px"><a style="float: left" href="{% url 'logouteee' %}"><input style="height: 50px; width: 150px" type="submit" value="Logout"></a></div>
	    </div>
    </div>
{%endblock%}
